:root {
  --mainColor: #21C1D2;
  --darkColor: #426F7D;
  --darkerColor:  #1B2D33;
  --darkerColorTr:  rgba(27, 45, 51, .7);
  --okColor: #5EE987;
  --okColorDark: rgb(43, 180, 84);
  --achtungColor: #FF8B4A;
  --achtungColorDark: rgb(233, 97, 18);
  --lightColor: rgb(243, 243, 242);

  --grisClaro: rgb(242, 247, 248);



  --titleFont: 'Roboto Slab', serif;
  --textFont: 'Roboto', sans-serif;

  
}

html {
  scroll-behavior: smooth;
  transition: 1s;
}

h1, h2, h3 {
  font-family: var(--titleFont);
}


.txt-sm{
  font-size: 1em;
}
.txt-md{
  font-size: 1.5em;
}
.txt-lg{
  font-size: 2em;
}
.txt-xl{
  font-size: 2.5em;
}
.txt-xxl{
  font-size: 3em;
}

.fondoScuro {
  background-color: var(--darkerColor);
}

.bg-main {
  background: var(--darkerColor);
}

.second-title, .section-title {
  font-family: var(--titleFont);
  font-weight: 300;
  color: var(--darkColor);
}

.main-title {
  font-family: var(--titleFont);
  font-weight: bold;
  color: var(--lightColor);
}

/*--------------------------------------------------------------------------
    BOTONES
----------------------------------------------------------------------------*/

.btn {
  text-transform: uppercase;
  color: white;
  transition: .3s;
}

.btn:hover {
  color: white;
}

.btn-mainColor{
  background-color: var(--mainColor);
}

.btn-mainColor:hover{
  background-color:var(--darkColor);
}

.btn-ok{
  background-color: var(--okColor);

}
.btn-ok:hover{
  background-color: var(--okColorDark);
}

.btn-alert {
  background: var(--achtungColor);
  color: var(--lightColor);
}

.btn-alert:hover{
  background-color: var(--achtungColorDark);
}

/*--------------------------------------------------------------------------
    SECCIÓN GENERICA
----------------------------------------------------------------------------*/

.section {
  padding: 4rem 0;
}

.section:nth-child(even){
  background: var(--grisClaro);
}

/*--------------------------------------------------------------------------
    HEADER
----------------------------------------------------------------------------*/

.header {
  background-color: var(--darkerColorTr);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: .3s;
  z-index: 100;
}

.logo-top{
  font-family: var(--titleFont);
  font-weight: bold;
  color: var(--mainColor);
  font-size: 3rem;
  transition: .3s;
}

.scroll-header{
  position: fixed;
  background-color: var(--darkerColor);

  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
}

.scroll-header .logo-top{
  font-size: 2rem;
}

.navbar {
  padding: .0rem 1rem;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: var(--textFont);
  color:   white !important;
}
.nav-link:focus, .nav-link:hover, .nav-link.active {
  color: var(--okColor) !important;
}

/*--------------------------------------------------------------------------
    HERO
----------------------------------------------------------------------------*/

#main {
  background-image: url(../images/jeff-brown-246391-unsplash.jpg);
  background-size: cover;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: stretch;
}

@media only screen and (max-width: 990px) {
  #main{
    height: 35rem;
    font-size: .7rem;
  }
}

@media (max-width:850px) and (orientation:landscape) {
  #main{
    height: 27rem;
    font-size: .6rem;
  }
}


#main .overlay {
  width: 100%;
  background-color: rgba(0, 0, 0, .2);
  display:flex;
  align-items: center;
}

#main .second-title{
  color: var(--okColor);
}

.text-hero {
  font-family: var(--textFont);
  font-weight: 300;
  color: var(--lightColor);
}



/*--------------------------------------------------------------------------
    BIENVENIDO  
----------------------------------------------------------------------------*/

.flexible-video{
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  background: url(../image/image1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  
}
.youtube-video {
  width: 100%;
  height:100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/*--------------------------------------------------------------------------
    SERVICIOS
----------------------------------------------------------------------------*/

#servicios .card {
  border: none;
}

#servicios .card-header{
  background: url(../images/s1.jpg);
  background-size: cover;
  background-position: right;
  color: var(--mainColor);
  padding: 2rem;
}

#servicios .card-header ul {
  padding-inline-start: 25px;
  margin-bottom: 0;
}

#servicios .card-header li{
  font-family: var(--titleFont);
  font-weight: 300;
  color: var(--lightColor);
  margin-bottom: .3rem;
}

#servicios .card-body{
  background: var(--lightColor);
  padding: 2rem;
}

.card-body p{
  font-family: var(--textFont);
  font-weight: 300;
}

.card-img-top.rounded-circle{
  width: 60%;
  margin-left: 20%;
  margin-top: 10%;
}


/*--------------------------------------------------------------------------
      QUIENESsOMOS
----------------------------------------------------------------------------*/

.quienesSomos .card {
  border: none;
  background: transparent;
}

/*--------------------------------------------------------------------------
    FOOTER
----------------------------------------------------------------------------*/

#footer {
  background: var(--darkerColor);
}
#footer a {
  color:rgba(255, 255, 255, .5);
  font-size: 1.2rem;
  font-weight: 300;
  font-family: var(--textFont);
  text-decoration: none;
  line-height: 1.8;
}
#footer a:hover {
  color:rgb(255, 255, 255);

}


